body {
  color:black;
}

.nawal{
  color:black;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hero-unit{
  background-image: url("https://static.pexels.com/photos/411/red-coffee-cup-mug.jpg");
  background-size:100%;
  overflow:hidden;
  min-height:800px;
  text-align:center;
  padding-top: 75px;
}
